$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    // NAVBAR
    .navbar {
      .container {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid transparent;
            transition: all 0.4s ease-in-out;

            &:hover {
              background-color: transparent;
              color: teal;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    // FOOTER
    footer {
      margin-top: 100px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
      font-style: 12px;

      img {
        height: 50px;
      }
    }

    // HOME
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              top: -20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              background: #ffffff;
              color: teal;
              border: 1px solid teal;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                background-color: $lightGreen;
                color: #000000;
                border: 1px solid #ffffff;
              }
            }
          }
        }
      }
    }

    // SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 32px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

           button {
            width: max-content;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            background-color: white;
            color: teal;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    // LOGIN & REGISTER
    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 30px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;
        background-color: white;
        width: 240px;
        gap: 25px;

        input {
          padding: 10px;
          border: none;
          outline: none;
          font-size: 15px;
          letter-spacing: 0.03em;
          border-bottom: 1px solid gray;
        }

        button {
          border: none;
          color: white;
          padding: 10px;
          font-size: 16px;
          letter-spacing: 0.03em;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          background-size: 300% 100%;
          transition: all 0.4s ease-in-out;
          background-image: linear-gradient(
            to right,
            #25aae1,
            #40e495,
            #30dd8a,
            #76daaa
          );
          box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

          &:hover {
            background-position: 100% 0;
            transition: all 0.4s ease-in-out;
          }
        }

        p {
          color: red;
          font-size: 13px;
          text-align: center;
        }

        span {
          font-size: 13px;
          text-align: center;
        }
      }
    }

    // WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        gap: 20px;
        flex-direction: column;

        input {
          padding: 10px;
          border: 1px solid #d3d3d3;
        }

        .editorContainer {
          height: 200px;

          .editor {
            height: 100%;
            border: none;
            border-radius: 10px;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            button {
              cursor: pointer;
              padding: 9px 16px;
              margin: 1em 0;
              border-radius: 8px;
              background-color: $lightGreen;
              border: none;
              font-size: 12px;
              line-height: 1;

              &:hover,
              &:focus {
                animation: pulse 0.8s;
                box-shadow: 0 0 0 1em rgba(#fff, 0);
              }

              @keyframes pulse {
                0% {
                  box-shadow: 0 0 0 0 teal;
                }
              }
            }

            .cat {
              display: flex;
              align-items: center;
              gap: 2px;
              color: teal;
            }
          }
        }
      }
    }
  }
}

/*
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}
*/
