$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    // NAVBAR
    .navbar {
      .container {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }
      }
    }
  }
}
